{% extends 'bootstrap/base.html' %}
{% block title %}
<title>Arual Grant Agency- About-Us</title>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{  url_for('static', filename='css/styles.css')  }}">
{% endblock %}

{% block content %}
<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="index.html"About >Arual Grant/Charity Agency</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('home') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('donate') }}">Donate</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('contact') }}">Apply for Grantt</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/static/assets/img/Grants.png')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>About Arual Grant/Charity Agency </h1>
                            <span class="subheading">Grant for All</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">

                            <h2 class="post-title">About Arual Agency:</h2>
<!--                            <h3 class="post-subtitle">Our world is facing an unprecedented crisis in the form of the COVID-19 pandemic. This crisis is unlike any we have dealt with before - the scope is global in nature, every individual and business on the planet is impacted. The ARUAL Foundation and the ARUAL Life Members Committee are not immune to the challenges presented by the pandemic, and as such, we have made the difficult decision to <span> cancel the March 2021 Grants Cycle till November 2021</span></h3><br>-->
                            <h3>
Welcome to Arual Grant Agency, your number one source for all federal grant. We're dedicated to giving you the very best of financial assistance, with a focus on reducing the poverty level.


Founded in 2018 by Arual Group, Arual Grant Agency has come a long way from its beginnings. When Arual Group first started out, Our passion to help drove us to starting up the agency, so that Arual Grant Agency can offer you tthe best partnership. We now serve customers all over Us, Ca and Eu contries, and are thrilled that we're able to turn our passion into a grant website.


We hope you enjoy our products as much as We enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us and apply..

<p>We are also focused in helping malnurished, abused children and animals by giving them a new life</p>
Sincerely,

Arual Grant
</h3>

<div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{  url_for('static',filename='assets/img/kids.jpg')  }}" alt="First slide">
    </div>

  </div>
</div>



  </div>
</div>

                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->


                    <!-- Divider-->

                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{{  url_for('contact')  }}">Apply Now →</a>
                </div>
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{{  url_for('donate')  }}">Donate Now →</a></div>
                </div>


        <!-- Footer-->
        <footer class="border-top" style="background-image: url('/static/assets/img/grantlogo.png')">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">ARUAL Foundation
                            ARUAL Development Office
                            <p>445 Hoes Lane
                            Piscataway, NJ 08854, U.S.A.</p>
                            <p>Phone: +1 8153176218</p>
                            <p>Email: info@arual.it</p></div>
                        <div class="small text-center text-muted fst-italic">Copyright Arual 2021</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{  url_for('static', filename='js/scripts.js')  }}"></script>
{% endblock %}